#container {
  width: 100%;
}
#sidebar {
  width: 25%;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  float: right;
}

#sidebar img {
    width: 200px;
    margin: 100px 75px 30px 0px;
}

#sidebar li {
  background-color: rgba(0,0,0,.5);
  font-family: 'iyekan-regular';
  font-size: 16pt;
  color: #ddd;
  padding: 12px 20px 12px 0;
  margin-top: 3px;
}

#sidebar li:hover {
  color: #3b9c9c;
}

#sidebar a {
  text-decoration: none;
}

#sidebar p {
  width: 350px;
  font-family: "segoeui-regular";
  direction: ltr;
  text-align: center;
  color: #999;
  position: fixed;
  bottom: 35px;
}

#sidebar br {
  line-height: 25px;
}

div:nth-child(2) {
  width: 75%;
  float: right;
}

div:nth-child(2) p {
  font-family: 'iyekan-bold';
  font-size: 15pt;
  color: #ddd;
  text-align: center;
  margin: 40px 0px 30px 0px;
}

div:nth-child(2) li p {
  padding: 0;
  margin: 0;
}

div:nth-child(2) li p {
  font-family: 'iyekan-regular';
  font-size: 12pt;
}

div:nth-child(2) li {
  border-radius: 100px;
  width: 95%;
  height: 50px;
  background-color: rgba(0,0,0,.5);
  margin-right: 2.5%;
  margin-top: 10px;
}

div:nth-child(2) li div {
  text-align: center;
  padding-top: 0px;
  margin-top: 17px;
}

div:nth-child(2) li div:first-child {
  width: 15%;
  /*background-color: #f00;*/
  float: right;
}

div:nth-child(2) li div:nth-child(2) {
  width: 60%;
  /*background-color: #0f0;*/
  float: right;
}

div:nth-child(2) li div:last-child {
  width: 25%;
  /*background-color: #00f;*/
  float: right;
}