@font-face {
    font-family: 'iyekan-light';
    src: url('../fonts/iran-yekan/light.ttf') format('truetype');
}

@font-face {
    font-family: 'iyekan-regular';
    src: url('../fonts/iran-yekan/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'iyekan-medium';
    src: url('../fonts/iran-yekan/medium.ttf') format('truetype');
}

@font-face {
    font-family: 'iyekan-bold';
    src: url('../fonts/iran-yekan/bold.ttf') format('truetype');
}

@font-face {
    font-family: 'segoeui-regular';
    src: url('../fonts/segoe-ui/regular.ttf') format('truetype');
}