@font-face {
    font-family: 'iYekan-Light';
    src: url('../Fonts/IRANYekanLight.ttf') format('truetype');
}

@font-face {
    font-family: 'iYekan-Regular';
    src: url('../Fonts/IRANYekanRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'iYekan-Medium';
    src: url('../Fonts/IRANYekanMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'iYekan-Bold';
    src: url('../Fonts/IRANYekanBold.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI-Regular';
    src: url('../Fonts/SegoeUIRegular.ttf') format('truetype');
}