@font-face {
    font-family: 'isans-ultra-light';
    src: url('../fonts/iran-sans/ultra-light.ttf') format('truetype');
}

@font-face {
    font-family: 'isans-light';
    src: url('../fonts/iran-sans/light.ttf') format('truetype');
}

@font-face {
    font-family: 'isans-regular';
    src: url('../fonts/iran-sans/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'isans-medium';
    src: url('../fonts/iran-sans/medium.ttf') format('truetype');
}

@font-face {
    font-family: 'isans-bold';
    src: url('../fonts/iran-sans/bold.ttf') format('truetype');
}

/* 00000000000000000 */

@font-face {
    font-family: 'iyekan-light';
    src: url('../fonts/iran-yekan/light.ttf') format('truetype');
}

@font-face {
    font-family: 'iyekan-regular';
    src: url('../fonts/iran-yekan/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'iyekan-medium';
    src: url('../fonts/iran-yekan/medium.ttf') format('truetype');
}

@font-face {
    font-family: 'iyekan-bold';
    src: url('../fonts/iran-yekan/bold.ttf') format('truetype');
}

/* 00000000000000000 */

@font-face {
    font-family: 'segoeui-regular';
    src: url('../fonts/segoe-ui/regular.ttf') format('truetype');
}