html, body, div:first-child {
  height: 100%;
}

html, body {
  min-width: 1280px;
}

div:first-child {
  width: 400px;
  float: right;
  background-color: rgba(0,0,0,.6);
}

  div:first-child img {
    width: 50%;
    margin: 100px 25% 30px 25%;
  }

  div:first-child li {
    background-color: rgba(0,0,0,.5);
    font-family: 'iyekan-regular';
    font-size: 15pt;
    padding: 15px 20px 15px 0;
    margin-top: 10px;
    transition-duration: .7s;
  }

    div:first-child li:hover {
      color: tomato;
      padding-right: 35px;
    }


/* --------------------- */ 

div:nth-child(2) {
  width: calc(100% - 400px);
  min-width: 880px;
  float: right;
  position: fixed;
  left: 0;
}

div:nth-child(2) ul {
  width: 100%;
  margin-top: 200px;
}

div:nth-child(2) li {
  border-radius: 100px;
  width: 95%;
  height: 75px;
  background-color: rgba(0,0,0,.5);
  margin: 10px 2.5% 0px 2.5%;
}