div {
  width: 400px;
  height: 420px;
  position: fixed;
  top: -36px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0,.4);
  border-radius: 20px;
}

  img {
    width: 60%;
    margin: 50px 20% 30px 20%;
  }

  ul {
    width: 75%;
    margin: 0px 12.5% 0px 12.5%;
    /* background-color: #f0f; */
  }

    li:nth-child(2) {
      margin-top: 10px;
    }

    li, input[type=button] {
      border-radius: 150px
    }

    li {
      width: 100%;
      height: 40px;
      /* overflow: hidden; */
      background-color: #ddd;
    }

      input[type=text] {
        width: 90%;
        margin: 8px 5% 0px 5%;
        background-color: transparent;
        font-family: 'iyekan-regular';
        font-size: 15px;
        direction: ltr;
        text-align: center;
        border: none;
        color: #888;
      }

      input[type=button] {
        padding: 10px 40px;
        margin: 30px 25% 0px 25%;
        font-family: 'iyekan-medium';
        font-size: 14px;
        border: none; 
        transition-duration: .5s;
      }

        input[type=button]:hover {
          background-color: tomato;
          color: #fff;
          
        }

        input[type=button]:active {
          background-color: orange;
          color: #000;
        }

  p {
    margin-top: 60px;
    font-family: 'segoeui-regular';
    font-size: 15px;
    text-align: center;
    direction: ltr;
    cursor: default;
    color: #888;
  }