html, body, div {
  height: 100%;
}

div:first-child {
  background-color: red;
  width: 25%;
  position: fixed;
  right: 0;
}

div:last-child {
  background-color: green;
  width: 75%;
  position: fixed;
  left: 0;
}