html, body {
  height: 100%;
}

#container {
  width: 1024px;
  position: relative;
}

#container div:first-child {
  background-color: rgba(255,0,0.3);
  width: 25%;
  position: fixed;
  right: 0;
}

#container div:last-child {
  background-color: rgba(0,255,0,.3);
  width: 75%;
  position: fixed;
  left: 0;
}